.algolia-autocomplete .ds-dropdown-menu [class^=ds-dataset-] {
  overscroll-behavior: none;
  max-height: calc(100vh - 3.25rem);
}

.algolia-autocomplete .algolia-docsearch-suggestion--title {
  font-weight: 500;
}

.algolia-autocomplete .algolia-docsearch-suggestion .algolia-docsearch-suggestion--subcategory-column {
  font-weight: normal;
}

@media screen and (max-width: 768px) {
  .algolia-autocomplete .ds-dropdown-menu {
    min-width: calc(100vw - 2.75rem) !important;
  }
}

.doc .image.conum > img {
  height: 0.9em;
  width: auto;
  vertical-align: -0.1em;
}

.dlist.properties dt {
  float: left;
  clear: left;
}

.dlist.properties dt::after {
  content: ":";
  padding-right: 0.25em;
}

.dlist.properties dd {
  margin: 0;
}
